*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul{
    display: flex;
    gap: 30px;
}
nav ul a{
    color:#36536B ;
    font-size: 15px;
    font-weight: 700;
}
.btn{
    background-color:#BA4270 ;
    border-radius: 24px;
    color: #FBFCFE;
    padding: 16px 25px;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__content h1{
    color: #36536B;
    width: 500px;
    flex-wrap: wrap;
    font-size: 60px;
        margin-bottom: 30px;
}
.menu{
    display: none;
}
.header__content_2{
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-evenly;
}
.header__text p{
    color: #6C8294;
    width:400px ;
    flex-wrap: wrap;
}
.div p{
    color: #36536B;
 margin-top: 30px;
 font-weight: 700;
}
main{
display: flex;
 justify-content: space-evenly;
}
footer ul{
    margin-right: 800px;
}
footer ul a{
    color: #FBFCFE;
}
footer{
    background-image: url(Bitmap\ \(1\).png);
    margin-top: 80px;
}
.div_2{
    display: flex;
    gap: 30px;
}



















@media(max-width:786px){
.header__content{
    justify-content: center;
    flex-direction: column-reverse;
}
.header__content h1{
    font-size: 40px;
    width: 450px;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;

}
.header__content_2{
    margin-bottom: 200px;
    margin-top: 130px;
}
.header__content_2 p{
 flex-wrap: wrap;
 width: 580px;
 text-align: center;
}
.header__content img{
    width: 300px;
}
.div img{
    width: 88px;
    height: 88px;
    margin-left: 25px;
}
.div p{
    font-size: 18px;
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer ul {
 margin-left: 120px;
}
}
.div_2{
    display: flex;
    gap: 30px;
     margin-right: 400px;
}


}






























@media(max-width:375px){


   header nav ul{
        display: none;
    }
    .menu{
        display: flex;
    }
 .header__text h1{
width:300px ;
flex-wrap: wrap;
display: flex;
justify-content: center;
font-size: 32px;
 }
 .header__content_2 p{
    width: 328px;
    flex-wrap: wrap;
 }
 .header__img{
 margin-left: 25px;
 }
 main {
    flex-direction: column-reverse;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    background-color: white;
    width:328px ;
    height:934px ;
    
 }
 .div{
        margin-bottom: 200px;
        margin-left: 100px;
 }
 .div img{
    height: 106px;
    width: 106px;
 }
 footer{
    flex-direction: column-reverse;
 }
 footer nav{
    display: block;
    color: #FBFCFE;
 }
 footer nav ul{
    display: block;
    justify-content: center;
 }
 footer nav .div_2{
    display: flex;
    justify-content: center;
 }
 footer nav ul a{
        display:flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 45px;
 }
 footer .img{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
 }
}